.App {
  position: absolute;
  top: 10px;
  left: 20px;
  right: 20px;
  bottom: 10px;
  overflow: scroll;
}

.filterSelect {
    margin: 8px;
}

.filterSelect select {
    margin: 4px;
}

.backButton {
    margin-right: 10px;
    cursor: pointer;
}

.footer {
    margin: 6px;
}

/* For Firefox */
input[type='number'] {
    -moz-appearance:textfield;
}
/* Webkit browsers like Safari and Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
